SNOWFLAKE_ACCOUNT='SNOWFLAKE_ACCOUNT'
SNOWFLAKE_USER="SNOWFLAKE_USER"
SNOWFLAKE_PASSWORD="SNOWFLAKE_PASSWORD"
SNOWFLAKE_WAREHOUSE="SNOWFLAKE_WAREHOUSE"
SNOWFLAKE_DATABASE="SNOWFLAKE_DATABASE"
SNOWFLAKE_SCHEMA="SNOWFLAKE_SCHEMA"
SNOWFLAKE_TABLE ="SNOWFLAKE_TABLE"

# TODO: Get your E2B API key from https://e2b.dev/docs
E2B_API_KEY="E2B_API_KEY"

# TODO: Get your OpenAI API key from https://platform.openai.com
OPENAI_API_KEY="OPENAI_API_KEY"