SNOWFLAKE_ACCOUNT=SNOWFLAKE_ACCOUNT
SNOWFLAKE_USER=SNOWFLAKE_USER
SNOWFLAKE_PASSWORD=SNOWFLAKE_PASSWORD
SNOWFLAKE_WAREHOUSE=SNOWFLAKE_WAREHOUSE
SNOWFLAKE_DATABASE=SNOWFLAKE_DATABASE
SNOWFLAKE_SCHEMA=SNOWFLAKE_SCHEMA

S3_BUCKET=S3_BUCKET
AWS_REGION= AWS_REGION
aws_access_key_id=aws_access_key_id
aws_secret_access_key=aws_secret_access_key
PINECONE_API_KEY=PINECONE_API_KEY
